extends layout

block content
  script(src="/javascripts/artifact-form.js")
  header
    .input-group(data-toggle='modal' data-target='#playername-modal')
      .input-group-prepend
        span.input-group-text Agent Name
      input.form-control(name='playnername')
  table#artifacts.form
  footer
    nav
      button.btn.btn-lg.btn-primary.btn-block(name='upload') Upload
      button.btn.btn-lg.btn-warning(name='reset') Reset
      button.btn.btn-lg.btn-dark(name='clear') Clear
      a.btn.btn-lg.btn-info(href='./artifacts') List

  div.modal#playername-modal(role='dialog', aria-hidden='true')
    .modal-dialg.modal-dialog-centered(role='document')
      .modal-content
        .modal-body
          form
            .form-group
              label Agent Name
              input.form-control(name='playnername')
        .modal-footer
          button.btn.btn-primary Save
