html, body {
  margin: 0;
  width: 100%;
  height: 100%;
}

label {
  margin-right: 1em;
}

#artifacts {
  width: 100%;
  &.form {
    height: 75%;
  }
  &.list {
    thrad th {
      background: lightgray;
    }
  }
}

nav {
  text-align: center;
  height: 15%;
}

td.artifact {
  border: solid;
  margin: 1px;
  text-align: center;
}

.blue {
  color: blue;
  border-color: blue;
}
.indigo {
  color: indigo;
  border-color: indigo;
}
.green {
  color: green;
  border-color: green;
}
.orange {
  color: orange;
  border-color: orange;
}
.pink {
  color: pink;
  border-color: pink;
}
.red {
  color: red;
  border-color: red;
}